.margin {
	margin-left:15px;
	margin-top:10px;
}

.margin-left {
	margin-left:15px;
}

.margin-top {
	margin-top:10px;
}

.margin-top2{
	margin-top:10px;
}

.margin-top_left {
	margin-top:10px;
	margin-left:25%;
	margin-right:25%;
}